<nav class="navbar bg-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand space-x-2" href="#">
        <img src="../favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
       <span class="font-bold">Pulbox</span>
      </a>


      <ul class="nav nav-tabs d-none d-sm-flex">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>

    </div>
</nav>



<h1 class="text-center text-xl font-black text-red-800 p-8">{{ message | titlecase }}</h1>
<div class="flex justify-center space-y-4">
    <app-recent-posts class="space-y-4 w-full p-2"></app-recent-posts>
</div>
<!-- <app-card [data]="posts"></app-card> -->


















